<div class="shop-container row">
	<div class="left-content col-sm-2">
		<app-sidebar [categories]="categories" [genders]="genders"></app-sidebar>
	</div>
	<div class="right-content col-sm-10">
		<router-outlet></router-outlet>
	</div>
</div>