<div class="container-fluid individual-item-container">
  <div class="row">
    <div class="left-container col-sm-4">
      <img [src]="'assets/img/inventory/' + item.img + '.jpg'">
    </div>

    <div class="middle-container col-sm-4">
      <h4 class="item-name">{{ item.name }}</h4>
      <p class="item-price">${{ item.price }}</p>
      <div class="star-rating-container">
        <i *ngFor="let i of avgRating | iterate" class="fa fa-star"></i><!--
        --><i *ngFor="let i of 5 - avgRating | iterate" class="fa fa-star-o"></i>
        <span>({{ item.reviews.length }})</span>
      </div>
      <div class="choose-size-container">
        <button
          *ngFor="let sizeRef of item.sizes"
          class="size-btn"
          (click)="size = sizeRef"
          [ngClass]="{ 'active': size === sizeRef }"><span class="text">{{ sizeRef }}</span></button>
        <span *ngIf="!size">Select a size</span>
        <h5 class="one-size-notice" *ngIf="!item.sizes.length">One size</h5>
      </div>
      <button (click)="addToCart()" mat-button [disabled]="!size" class="add-to-cart-btn">ADD TO CART</button>
      <a (click)="addToFavorites()" class="add-to-favorites-link">
        <i class="fa fa-heart-o"></i>
        <i class="fa fa-heart"></i>
        Add to favorites
      </a>
    </div>

    <div class="right-container col-sm-4">
      <div class="item-details-container">
        <h5 class="header">Item details</h5>
        <p class="details">{{ item.details }} <br> Product id: {{ item.id }}</p>
      </div>
      <hr>
      <div class="shipping-info-container">
        <h5 class="header">Shipping information</h5>
        <p class="details">Available for shipment exclusively within the U.S.</p>
      </div>
    </div>
  </div>
</div>
