@import '../../../../../app.component.sass'

.individual-item-container

	max-width: 900px
	margin: auto
	.left-container
		margin: auto
		max-width: 360px
		img
			text-align: center
			width: 100%

	.middle-container
		padding: 15px
		margin: auto
		.item-name
			margin: 0 0 5px 0
		.item-price
			margin: 0 0 10px 0
		.star-rating-container
			display: inline-block
			margin: 0 0 15px 0
			.fa
				margin-left: 3px
				&:first-child
					margin: 0
		.choose-size-container
			margin: 0 0 20px 0
			.size-btn
				margin-right: 6px
				width: 30px
				height: 30px
				font-size: 12px
				background-color: transparent
				border: 1px solid $text_color
				outline: none
				&:hover
					background-color: $text_color
					color: #ffffff
				.text
					position: relative
					top: 1px
			.active
				background-color: $text_color
				color: #ffffff
		.add-to-cart-btn
			background-color: $text_color
			color: #ffffff
			border: none
			outline: none
			width: 100%
			margin: 0 0 8px 0
		.add-to-favorites-link
			color: $text_color
			text-decoration: none
			cursor: pointer
			&:hover
				.fa-heart
					display: inline-block
				.fa-heart-o
					display: none
			.fa
				color: $danger_color
			.fa-heart
				display: none

	.right-container
		padding: 15px
		margin: auto
		.header
			margin: 0 0 5px 0
			font-size: 14px
		.details
			font-size: 13px
		.review-container
			.fa
				margin-left: 3px
				&:first-child
					margin: 0
