.checkmark-holder
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(255, 255, 255, 0.6)
	display: flex
	flex-direction: column
	justify-content: center

.checkmark
	width: 140px
	margin: 0 auto

.path
	stroke-dasharray: 1000
	stroke-dashoffset: 0
	animation: dash 1s ease-in-out
	-webkit-animation: dash 1s ease-in-out

.spin
	animation: spin 1s
	-webkit-animation: spin 1s
	transform-origin: 50% 50%
	-webkit-transform-origin: 50% 50%

p
	font-family: sans-serif
	color: pink
	font-size: 30px
	font-weight: bold
	margin: 20px auto
	text-align: center
	animation: text .5s linear .4s
	-webkit-animation: text .4s linear .3s

@-webkit-keyframes dash
 0%
	 stroke-dashoffset: 1000

 100%
	 stroke-dashoffset: 0

@keyframes dash
 0%
	 stroke-dashoffset: 1000

 100%
	 stroke-dashoffset: 0

@-webkit-keyframes spin
	0%
		-webkit-transform: rotate(0deg)

	100%
		-webkit-transform: rotate(360deg)

@keyframes spin
	0%
		-webkit-transform: rotate(0deg)

	100%
		-webkit-transform: rotate(360deg)

@-webkit-keyframes text
	0%
		opacity: 0
	100%
		opacity: 1

	@keyframes text
	0%
		opacity: 0
	100%
		opacity: 1
