<footer class="main-footer">
	<div class="content">

		<ul class="footer-links">
			<li class="link-item">
				<a class="footer-link" [routerLink]="['contact']">Contact</a>
			</li><li	class="link-item">
				<a class="footer-link" (click)="onMoreInformation()">More Information</a>
			</li><li	class="link-item">
				<a class="footer-link" (click)="onSomething()">Something</a>
			</li>
		</ul>

		<p class="copyright">© 2018 White Nile Boutique</p>
	</div>
</footer>
