@import '../../app.component.sass'

.main-navbar
	height: 55px
	display: flex
	flex-direction: column
	justify-content: center
	transition: .25s
	position: fixed
	width: 100%
	background-color: #ffffff
	z-index: 999
	-webkit-box-shadow: 0 0px 6px 0 #999
	-moz-box-shadow: 0 0px 6px 0 #999
	box-shadow: 0 1px 3px 0 #999
	.content
		width: 100%
	
.nav-section
	display: inline-block
	width: 50%
	vertical-align: middle

.left-section
	.logo-link
		padding: 10px 10px 10px 0
		img
			max-width: 155px

.right-section
	text-align: right
	.nav-list
		margin: 0
		padding: 0
		list-style-type: none
		display: flex
		float: right
		.list-item
			display: inline-block
			margin-right: 10px
			&:last-child
				margin: 0
			.mat-button
				min-width: 50px
				line-height: 1
				padding: 10px 15px
				font-weight: 400
			.emphasis-btn
				border: 1px solid #ffffff
				font-size: 15px
			.fa-bars
				font-size: 23px
				font-weight: 300
		.cart-btn
			font-size: 23px
			padding: 5px 0 5px 0 !important
			position: relative
			top: 2px

	.spacing-fix
		margin-right: 10px

	.user-links
		border-top: 1px solid $border_color

	.dropdown-item
		width: 100%
		border: none
		background-color: #ffffff
		text-align: left
		padding: 8px 10px
		outline: none
		&:hover
			background-color: $border_color

@media only screen and (max-width: 767px)
	.main-navbar
		height: 55px