<nav class="main-navbar">
	<div class="content container">
		<div class="nav-section left-section">
			<a class="logo-link" [routerLink]="['']">
				<img src="assets/img/logo.png" alt="">
			</a>
		</div><!--
			Right section
		--><div class="nav-section right-section">
			<ul class="nav-list">
				<span class="hidden-mobile spacing-fix">
					<li class="list-item">
						<button
							class="hidden-mobile nav-list-btn emphasis-btn"
							mat-button
							(click)="onNavToShop(null, 'female')">Women</button>
					</li>
				</span>
				<span class="hidden-mobile spacing-fix">
					<li class="list-item">
						<button
							class="hidden-mobile nav-list-btn emphasis-btn"
							mat-button
							(click)="onNavToShop(null, 'male')">Men</button>
					</li>
        </span>
        <span class="hidden-mobile spacing-fix" *ngIf="user">
          <li class="list-item">
            <button
              class="hidden-mobile nav-list-btn emphasis-btn"
              mat-button
              (click)="onNavToShop('favorites', null)">Favorites</button>
          </li>
        </span>
				<!-- <span class="hidden-desktop spacing-fix"> -->
					<li class="list-item">
						<div class="dropdown">
							<button
								class="nav-list-btn cart-btn dropdown-toggle"
								mat-button data-toggle="dropdown"><i class="fa fa-bars"></i></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="constant-links">
                  <button class="dropdown-item" [routerLink]="['shop']">Shop</button>
                  <button class="dropdown-item hidden-desktop" (click)="onNavToShop(null, 'female')">Women</button>
                  <button class="dropdown-item hidden-desktop" (click)="onNavToShop(null, 'male')">Men</button>
                  <button *ngIf="user" class="dropdown-item hidden-desktop" (click)="onNavToShop('favorites', null)">Favorites</button>
									<button class="dropdown-item" [routerLink]="['contact']">Contact</button>
								</div>
								<div class="user-links" *ngIf="!user">
									<button class="dropdown-item" (click)="onOpenSignupModal()">Signup</button>
									<button class="dropdown-item" (click)="onOpenLoginModal()">Login</button>
                </div>
                <div class="user-links" *ngIf="user">
                  <button class="dropdown-item" (click)="onNavToAccount()">Account</button>
                  <button class="dropdown-item" (click)="onLogout()">Logout</button>
                </div>
							</div>
						</div>
					</li>
				<!-- </span> -->
				<li class="list-item">
					<div class="dropdown">
						<button
							class="nav-list-btn cart-btn dropdown-toggle"
							mat-button data-toggle="dropdown"><i class="fa fa-shopping-cart"></i></button>
						<div class="dropdown-menu dropdown-menu-right">
							<h6 class="dropdown-header">You have no items in your cart.</h6>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
