<div class="contact-container">
  <div class="content container-fluid">
    <h1 class="header">Contact us</h1>
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <div *ngIf="!submitted" class="form-wrapper">
          <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmitContactRequest()" novalidate>
            <input class="text-input" placeholder="Name" type="text" formControlName="name">
            <input class="text-input" placeholder="Email" type="text" formControlName="email">
            <div class="type-dropdown-container dropdown">
              <button class="select-input text-input dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ contactForm.controls['type'].value || 'Select type' }}
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="type-list">
                  <li class="list-item">
                    <button
                      type="button"
                      class="dropdown-item"
                      *ngFor="let type of contactTypes"
                      (click)="contactForm.controls['type'].setValue(type)">{{ type }}</button>
                  </li>
                </ul>
              </div>
            </div>
            <textarea class="comment-input text-input" placeholder="Question or comment ..." type="text" formControlName="message"></textarea>
            <button
              [disabled]="contactForm.invalid"
              class="submit-btn"
              [ngClass]="{ 'submittable': contactForm.valid }"
              mat-button>Submit</button>
          </form>
        </div>
        <div *ngIf="submitted" class="success-wrapper">
          <p>Your message has been sent.</p>
          <p>We will respond as soon as possible.</p>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">

      </div>
    </div>
  </div>
</div>
