@import '../../../app.component.sass'

.contact-container
  padding: 40px 0
  .content
    max-width: 850px
    margin: auto
    .header
      margin: 0 0 15px 0
      font-weight: 400
      font-size: 20px
      color: $text_color
    .contact-form
      .text-input
        margin-bottom: 10px
        &:last-child
          margin: 0
      .type-dropdown-container
        position: relative
        .select-input
          -webkit-appearance: none
          background-color: #ffffff
          text-align: left
          cursor: pointer
          position: relative
          .fa-caret-down
            position: absolute
            right: 3%
            top: 50%
            transform: translateY(-48%)
            font-size: 18px
        .dropdown-menu
          position: absolute
          padding: 0
          width: 100%
          margin: 0
          border-radius: 0
          top: 100%
          transform: translateY(-10px)
          box-shadow: none
          border-bottom-left-radius: 3px
          border-bottom-right-radius: 3px
          border: 1px solid $text_color
          border-top: none
          .type-list
            list-style-type: none
            margin: 0
            padding: 0
            .dropdown-item
              width: 100%
              border: none
              background-color: #ffffff
              text-align: left
              padding: 8px
              outline: none
              &:hover
                background-color: $border_color
      .comment-input
        min-width: 100%
        max-width: 100%
        max-height: 400px
        min-height: 100px
      .submit-btn
        width: 100%
        border: 1px solid $border_color
      .submittable
        border: 1px solid $text_color
