<!-- {{ category }} -->
<div class="inventory-container row">
		<div *ngFor="let item of filteredInventory"
			class="col-md-3 col-sm-4 col-xs-6 item-card-container">
			<app-item-card [item]="item"></app-item-card>
		</div>
</div>

<div *ngIf="filteredInventory?.length == 0" class="no-inventory-container" >
  <h1 class="header">Uh oh.</h1>
  <p class="description">Unfortunately, there are no items matching your query</p>
  <button mat-button class="btn" [routerLink]="['../shop']">VIEW ALL ITEMS</button>
</div>

<app-spinner *ngIf="!filteredInventory"></app-spinner>
