@import '../../../../app.component.sass'

.inventory-container
	margin: auto
	width: 100%

.item-card-container
	padding: 0 6px 0
	max-width: 400px
	margin: auto
	margin-bottom: 12px

.no-inventory-container
  margin: auto
  max-width: 250px
  text-align: center
  .header
    margin: 20px 0 10px 0
    color: #bfbfbf
    font-weight: 400
  .description
    color: $text_color
    font-size: 17px
    font-weight: 300
    margin: 0 0 15px 0
  .btn
    border: 1px solid $text_color
    font-size: 12px
    outline: none

