@import '../../../../../app.component.sass'

.item-card
	padding: 0
	.img-container
		position: relative
		img
			width: 100%
			cursor: pointer
		.quick-view-btn
			position: absolute
			width: 110px
			top: 75%
			left: 50%
			margin-left: -55px
			opacity: 0
			transition: opacity .25s
			border: none
			background-color: rgba(255, 255, 255, 0.75)
			font-weight: 300
			font-size: 12px
			padding: 10px 0
			outline: none
			transition: .25s
			&:hover
				background-color: rgba(255, 255, 255, 0.85)
	&:hover
		.quick-view-btn
			opacity: 1 !important

.item-info-container
	padding: 7px
	.item-info
		cursor: pointer
		text-decoration: none
		color: $text_color
	.price
		font-size: 16px
		font-weight: 500
		margin-bottom: 0
	.name
		margin: 0
