<mat-card class="item-card">
	<div class="img-container" >
		<button class="quick-view-btn hidden-mobile" (click)="openQuickPreviewItemModal()">QUICK VIEW</button>
		<img (click)="onNavToItem()" [src]="'assets/img/inventory/' + item.img + '.jpg'" alt="">
	</div>
	<div class="item-info-container">
		<div>
			<a (click)="onNavToItem()" class="item-info price">{{ item.price | currency : 'USD' }}</a>
		</div>
		<div>
			<a (click)="onNavToItem()" class="item-info name">{{ item.name }}</a>
		</div>
	</div>
</mat-card>
