<div class="modal-content-holder">
  <h3 class="app-modal-header">Sign up</h3>
  <form class="modal-form" [formGroup]="signupForm" (ngSubmit)="onSignupWithEmail()">
    <input
      class="text-input"
      [ngClass]="{ 'text-input-error': hasEmailError }"
      type="email"
      placeholder="Email"
      formControlName="email">
    <input type="password"
      class="text-input"
      [ngClass]="{ 'text-input-error': hasPasswordError }"
      placeholder="Password"
      formControlName="password">
    <div *ngIf="signupWithEmailError" class="error-container">{{ signupWithEmailError }}</div>
    <p class="tos">By signing up, you agree to our <a target="_blank" href="">Terms of Use</a>.</p>
    <button
    class="auth-action-btn"
    [ngClass]="{ 'action-btn-available': !submitting }"
    mat-button type="submit"
    [disabled]="submitting">Signup</button>
  </form>
  <div class="signup-separator-container">
    <div class="signup-separator"></div>
    <div class="signup-separator-text">OR</div>
    <div class="signup-separator"></div>
  </div>
  <div *ngIf="signupWithSocialError" class="error-container">{{ signupWithSocialError }}</div>
  <div class="social-login-container">
    <div class="btn-container google-container">
      <button
        class="auth-action-btn google-btn"
        mat-button (click)="onSignupWithGoogle()">
        <img class="logo" src="assets/img/google-logo.svg" alt="">
        Google
      </button>
    </div><!--
    --><div class="btn-container facebook-container">
      <button
        class="auth-action-btn facebook-btn"
        mat-button (click)="onSignupWithFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
      </button>
    </div>
    <div class="login-signup-footer">
      Already have an account? <button class="action-link" [mat-dialog-close]="'loginModal'">Log in</button>
    </div>
  </div>
  <!-- Checkmark animation -->
  <app-checkmark *ngIf="complete"></app-checkmark>

  <button class="close" mat-dialog-close></button>
</div>
