@import '../../../../app.component.sass'

.sidebar
	.header
		margin: 0 0 8px 0
		display: inline-block
		padding: 0
		font-weight: 400
		font-size: 14px
	.category-list
		list-style-type: none
		margin: 0
		padding: 0
		.category-item
			outline: none
			cursor: pointer
			padding: 5px 0 5px 5px
			transition: .2s
			&:hover
				background-color: $border_color
			&:last-child
				margin-bottom: 0
			.link-item
				color: $text_color
				text-decoration: none
				padding: 4px 5px 4px 0px

	.active
		-webkit-box-shadow: inset 2px 0px 0px 0px $danger_color
		-moz-box-shadow: inset 2px 0px 0px 0px $danger_color
		box-shadow: inset 2px 0px 0px 0px $danger_color
		padding-left: 10px !important

	.main-navbar
		display: flex
		flex-direction: column
		justify-content: center
		margin: 0
		transition: .25s
		.content
			width: 100%

	.nav-section
		display: inline-block
		width: 50%
		vertical-align: middle

	.right-section
		text-align: right
		.nav-list
			margin: 0
			padding: 0
			list-style-type: none
			display: flex
			float: right
			.list-item
				display: inline-block
				margin-right: 10px
				&:last-child
					margin: 0
				.mat-button
					min-width: 50px
					line-height: 1
					padding: 10px 15px
					font-weight: 400
				.emphasis-btn
					border: 1px solid #ffffff
					font-size: 17px
				.fa-bars
					font-size: 23px
					font-weight: 300
			.category-btn
				font-size: 23px
				.category
					font-size: 15px
					margin-right: 5px
					position: relative
					top: 1px
				.fa-sort-desc
					position: relative
					top: -5px

		.dropdown-item
			width: 100%
			border: none
			background-color: #ffffff
			text-align: left
			padding: 8px 10px
			outline: none
			&:hover
				background-color: $border_color

@media only screen and (min-width: 768px)
	.sidebar

@media only screen and (max-width: 767px)
	.sidebar
		padding-bottom: 10px
		border-bottom: 1px solid $border_color
		margin-bottom: 10px
		.header
			margin: 0
