<div class="sidebar">

	<!-- Desktop menu -->
	<div class="category-container-desktop hidden-mobile">
		<h6 class="header">CATEGORIES</h6>
		<ul class="category-list">
			<li
				(click)="onChangeCategory(null)"
				class="category-item"
				[ngClass]="{ 'active': !route.snapshot.queryParams['category'] }">
				<a class="link-item">All</a>
      </li>
      <li
        *ngIf="user"
				(click)="onChangeCategory('favorites')"
				class="category-item"
				[ngClass]="{ 'active': route.snapshot.queryParams['category'] == 'favorites'  }">
				<a class="link-item">Favorites</a>
			</li>
			<li *ngFor="let category of categories"
				(click)="onChangeCategory(category)"
				[ngClass]="{ 'active': route.snapshot.queryParams['category'] == slugifyPipe.transform(category) }"
				class="category-item">
				<a class="link-item">{{ category | ucfirst }}</a>
			</li>
		</ul>

		<hr>

		<h6 class="header">GENDER</h6>
		<ul class="category-list">
			<li
				(click)="onChangeGender(null)"
				[ngClass]="{ 'active': !route.snapshot.queryParams['gender'] }"
				class="category-item">
				<a class="link-item">All</a>
      </li>
			<li
				*ngFor="let gender of genders"
				(click)="onChangeGender(gender)"
				[ngClass]="{ 'active': route.snapshot.queryParams['gender'] == gender }"
				class="category-item">
				<a class="link-item">{{ gender | ucfirst }}</a>
			</li>
		</ul>
	</div>

	<!-- Mobile menu -->
	<div class="category-container-mobile hidden-desktop">
		<nav class="main-navbar">
			<div class="content container">
				<div class="nav-section left-section">
					<h6 class="header">FILTER</h6>
				</div><!--
					Right section
				--><div class="nav-section right-section">
					<ul class="nav-list">
						<li class="list-item">
							<div class="dropdown">
								<button
									class="nav-list-btn category-btn dropdown-toggle"
									mat-button data-toggle="dropdown">
										<span class="category">
											{{ route.snapshot.queryParams['category'] || 'All items' | ucfirst }}
										</span>
										<i class="fa fa-sort-desc"></i>
									</button>
								<div class="dropdown-menu dropdown-menu-right">
									<button
										class="dropdown-item"
                    (click)="onChangeCategory(null)">All</button>
                  <button
                    class="dropdown-item"
                    *ngIf="user"
										(click)="onChangeCategory('favorites')">Favorites</button>
									<button
										*ngFor="let category of categories"
										class="dropdown-item"
										(click)="onChangeCategory(category)">{{ category | ucfirst }}</button>
								</div>
							</div>
						</li>
						<li class="list-item">
							<div class="dropdown">
								<button
									class="nav-list-btn category-btn dropdown-toggle"
									mat-button data-toggle="dropdown">
										<span class="category">
											{{ route.snapshot.queryParams['gender'] || 'Gender' | ucfirst }}
										</span>
										<i class="fa fa-sort-desc"></i>
									</button>
								<div class="dropdown-menu dropdown-menu-right">
									<button
										class="dropdown-item"
										(click)="onChangeGender(null)">All</button>
									<button
										*ngFor="let gender of genders"
										class="dropdown-item"
										(click)="onChangeGender(gender)">{{ gender | ucfirst }}</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
</div>
