<!-- Main navbar -->
<app-navbar></app-navbar>
<div class="navbar-spacer"></div>
<!-- Main router outlet -->
<router-outlet></router-outlet>
<!-- Main footer -->
<app-footer></app-footer>

<app-simple-notifications></app-simple-notifications>
