$primary_color: #2d2c27
$secondary_color: #77b4d1
$accent_color: #ECFF00
$danger_color: #fc2525
$success_color: #22b748
$neutral_color: #e2d239
$border_color: #ebebeb
$list_item_background: #f7f7f7
$list_item_background_hover: #e8e8e8
$text_color: #2d2c27

.navbar-spacer
	height: 55px
	width: 100%
	transition: .25s

.text-input
	border: 1px solid #d1d5da
	outline: none
	padding: 8px
	border-radius: 3px
	width: 100%

.text-input-label
	font-weight: 400

.text-input
	&:focus
		border-color: $primary_color
.text-input-error
	border-color: $danger_color !important
.auth-action-btn
	color: #ffffff
	background-color: #f3f5f8
.danger-btn
	color: darken($danger_color, 20%)
	background-color: #f3f5f8
.action-btn-available
	background-color: $primary_color

.error-container
	border: 1px solid $danger_color
	border-radius: 3px
	background-color: lighten($danger_color, 45%)
	margin-bottom: 1.25em
	padding: 5px 10px
	max-width: 300px
	text-align: left

@media only screen and (min-width: 768px)
	.hidden-desktop
		display: none !important

@media only screen and (max-width: 767px)
	.hidden-mobile
		display: none !important

	.navbar-spacer
		height: 60px
