@import "../../../../app.component.sass"

.main-item-info-container
  padding: 45px 15px

.inventory-container
	padding-top: 25px
	padding-bottom: 25px
	.header
		font-weight: 300
		font-size: 20px
		text-align: center
		margin: 0 0 20px 0
	.inventory-slider
		text-align: center
		.item-wrapper
			margin: auto
			display: inline-block
		img
			cursor: pointer
		.item-info-container
			padding: 4px
			text-align: left
			.item-info
				cursor: pointer
				text-decoration: none
				color: $text_color
			.price
				font-size: 14px
				font-weight: 400
				margin-bottom: 0
			.name
				margin: 0
				font-size: 13px

.no-margin
	margin: 0

@media only screen and (max-width: 767px)
	.individual-item-container
		padding: 25px 15px

	.middle-container, .right-container
		max-width: 360px

	.header
		font-size: 17px !important
