<div class="main-item-info-container" *ngIf="item">
  <app-main-item-info [item]="item"></app-main-item-info>
</div>

<hr class="no-margin">

<div class="container-fluid inventory-container">
	<h4 class="header">YOU MIGHT ALSO LIKE</h4>
	<div class="inventory-slider ">
		<div class="col-sm-2 col-xs-6" *ngFor="let categoryItem of categoryInventory">
			<div class="item-wrapper">
				<div class="img-container" >
					<img class="img-responsive" (click)="onNavToItem(categoryItem)" [src]="'assets/img/inventory/' + categoryItem.img + '.jpg'" alt="">
				</div>
				<div class="item-info-container">
					<a (click)="onNavToItem(categoryItem)" class="item-info price">{{ categoryItem.price | currency : 'USD' }}</a><br>
					<a (click)="onNavToItem(categoryItem)" class="item-info name">{{ categoryItem.name }}</a>
				</div>
			</div>
		</div>
	</div>
</div>

<app-reviews [item]="item" *ngIf="item"></app-reviews>

<app-share [item]="item" *ngIf="item"></app-share>
