<div class="modal-content-holder" style="max-width: 100vw;">
  <h3 class="app-modal-header">Login</h3>
  <form class="modal-form" [formGroup]="loginForm" (ngSubmit)="onLoginWithEmail()">
    <input
      class="text-input"
      type="email"
      placeholder="Email"
      formControlName="email">
    <input
      class="text-input"
      type="password"
      placeholder="Password"
      formControlName="password">
    <div *ngIf="loginWithEmailError" class="error-container">{{ loginWithEmailError }}</div>
    <button
      class="auth-action-btn"
      [ngClass]="{ 'action-btn-available': !submitting }"
      mat-button type="submit"
      [disabled]="submitting">Login</button>
    <div class="forgot-password-container">
      <button
        mat-dialog-close
        class="forgot-password-btn"
        [routerLink]="['forgot-password']">Forgot password?</button>
    </div>
  </form>
  <div class="signup-separator-container">
    <div class="signup-separator"></div>
    <div class="signup-separator-text">OR</div>
    <div class="signup-separator"></div>
  </div>
  <div *ngIf="loginWithSocialError" class="error-container">{{ loginWithSocialError }}</div>
  <div class="social-login-container">
    <div class="btn-container google-container">
      <button
        class="auth-action-btn google-btn"
        mat-button (click)="onLoginWithGoogle()">
        <img class="logo" src="assets/img/google-logo.svg" alt="">
        Google
      </button>
    </div><!--
    --><div class="btn-container facebook-container">
      <button
        class="auth-action-btn facebook-btn"
        mat-button (click)="onLoginWithFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
      </button>
    </div>
  </div>
  <div class="login-signup-footer">
    Don't have an account? <button class="action-link" [mat-dialog-close]="'signupModal'">Sign up</button>
  </div>

  <!-- Checkmark animation -->
  <app-checkmark *ngIf="complete"></app-checkmark>

  <button class="close" mat-dialog-close></button>
</div>
