<div class="container-fluid reviews-container">
	<h1 class="header">REVIEW & RATING</h1>

	<!-- No reviews -->
	<div class="not-yet-rated-container" *ngIf="item.reviews.length === 0">
		<p class="description">Not yet rated. Be the first to Write a Review.</p>
		<button (click)="onWriteAReview()" mat-button class="action-btn">WRITE THE FIRST REVIEW</button>
	</div>

	<!-- Reviews -->
	<div class="reviews-holder container" *ngIf="item.reviews.length != 0">
		Hello!
	</div>
</div>
