@import '../../../../../app.component.sass'

.reviews-container
	background-color: #f4f4f4
	padding-top: 25px
	padding-bottom: 25px
	.header
		font-weight: 300
		font-size: 20px
		text-align: center
		margin: 0
		color: $text_color
	.not-yet-rated-container
		text-align: center
		margin-top: 10px
		.description
			font-weight: 300
			font-size: 14px
			margin: 0
			color: $text_color
		.action-btn
			border: 1px solid $text_color
			margin-top: 15px
			font-size: 12px

	.reviews-holder
		margin: auto
		margin-top: 20px
		border: 1px solid blue
