@import '../../../../../app.component.sass'

.share-container
  padding-top: 40px
  padding-bottom: 40px
  text-align: center
  .share-text
    font-size: 16px
    font-weight: 300
    margin-right: 10px
  .copy-btn
    border: 1px solid $text_color
    padding: 0
    font-size: 12px
