<div class="share-container">
  <span class="share-text">Share this item with someone.</span>
  <button
    class="copy-btn"
    (click)="copied = true;"
    ngxClipboard [cbContent]="itemLink" (click)="onCopy()" mat-button>COPY LINK</button>
</div>
